<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yuanchuang.yohey"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="23" />
    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <!-- 设置休眠 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- sd卡读写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 摄像头权限 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- 录音和震动 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:name="com.yuanchuang.yohey.app.YoheyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="Bmob_APP_KEY"
            android:value="032e79773577386c1ae147ff379fb465" />

        <activity
            android:name=".Friends_Activity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.yuanchuang.yohey.LoginAndRegistered"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.yuanchuang.yohey.IntegralExchangeCommodityActivity" >
        </activity>
        <activity android:name="com.yuanchuang.yohey.InputMobilePhoneNumber" >
        </activity>
        <activity android:name="com.yuanchuang.yohey.SecurityVerification" >
        </activity>
        <activity
            android:name="com.yuanchuang.yohey.MainActivity"
            android:launchMode="singleTask" >
        </activity>
        <activity android:name="com.yuanchuang.yohey.RecommendActivity" >
        </activity>
        <activity android:name="com.yuanchuang.yohey.PersonalPostActivity" >
        </activity>
        <activity android:name="com.yuanchuang.yohey.PostingInterfaceActivity" >
        </activity>
        <activity android:name="com.yuanchuang.yohey.AddFriendsActivity" >
        </activity>
        <activity android:name="com.yuanchuang.yohey.AddMessagesAvtivity" >
        </activity>
        <activity android:name="com.yuanchuang.yohey.MyPostsActivity" >
        </activity>
        <activity android:name="com.yuanchuang.yohey.PostedMessagesActivity" >
        </activity>
        <activity android:name="com.yuanchuang.yohey.ParticipationPostsActivity" >
        </activity>
        <activity android:name="com.yuanchuang.yohey.MyIntegralActivity" >
        </activity>
        <activity android:name="com.yuanchuang.yohey.PurchaseCommodityActivity" >
        </activity>
        <activity android:name="com.yuanchuang.yohey.ReceiveGiftActivity" >
        </activity>
        <activity android:name="com.yuanchuang.yohey.SendGiftActivity" >
        </activity>
        <activity
            android:name="com.yuanchuang.yohey.ShareItActivity"
            android:launchMode="singleTask" >
        </activity>
        <activity android:name="com.yuanchuang.yohey.IntegralStoreActivity" >
        </activity>
        <activity android:name="set.Set_Activity" >
        </activity>
        <activity android:name="set.About_us_Activity" >
        </activity>
        <activity android:name="set.Manager_Activity" >
        </activity>
        <activity android:name="set.Private_set_Activity" >
        </activity>
        <activity android:name="set.Question_back_Activity" >
        </activity>
        <activity android:name="set.Safety_Actitity" >
        </activity>
        <activity android:name="set.Usual_set_Activity" >
        </activity>
        <activity android:name="com.yuanchuang.yohey.PersonalInformationActivity" >
        </activity>
        <activity android:name="com.yuanchuang.yohey.FriendMessageActivity" >
        </activity>
        <activity android:name="com.yuanchuang.yohey.FriendMaterialActivity" >
        </activity>
        <activity android:name="com.yuanchuang.yohey.OfficialinformationActivity" >
        </activity>
        <activity android:name="com.yuanchuang.yohey.ThumbUpActivity" >
        </activity>
        <activity android:name="com.yuanchuang.yohey.ForwardingActivity" >
        </activity>
        <activity android:name="com.yuanchuang.yohey.WelcomeActivity" >

        </activity>
        <activity android:name="com.yuanchuang.yohey.CommentDynamicActivity" >
        </activity>
        <activity android:name="com.yuanchuang.yohey.WhoCanSeeActivity" >
        </activity>
        <activity android:name="com.yuanchuang.yohey.WhoReminderActivity" >
        </activity>
        <activity android:name="com.yuanchuang.yohey.LocateActivity" >
        </activity>
        <!-- QQ第三方登陆所需注册页面 -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1105254592" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <!-- ^^^^^^^^^^^^^^^^^^^^^^^^^ -->

        <activity android:name="com.yuanchuang.yohey.VerificationCodeActivity" >
        </activity>
        <activity android:name="com.yuanchuang.yohey.QQRegisterActivity" >
        </activity>
        <activity android:name="com.yuanchuang.yohey.Vide0CollectionActivity" >
        </activity>
        <activity android:name="com.yuanchuang.yohey.share.TestPicActivity" >
        </activity>
        <activity android:name="com.yuanchuang.yohey.share.ImageGridActivity" >
        </activity>
        <activity android:name="com.yuanchuang.yohey.share.PhotoActivity" >
        </activity>

        <!-- 聊天服务器所需服务于广播 -->
        <receiver android:name="cn.bmob.newim.core.ConnectChangeReceiver" >
            <intent-filter>
                <action android:name="cn.bmob.action.RECONNECT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.yuanchuang.yohey.chat.MessageReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="cn.bmob.im.action.MESSAGE" />
            </intent-filter>
        </receiver>

        <service
            android:name="cn.bmob.newim.core.service.BmobImService"
            android:process=":bmobcore" />
        <service android:name="cn.bmob.newim.core.service.ReConnectService" />
        <service android:name="cn.bmob.newim.core.service.HeartBeatService" />
    </application>

</manifest>